<html>

<head>
  <title>Hearthstone Statics</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="https://use.fontawesome.com/66e9ecb0e4.js"></script>
  <script src="assets/main/main.js"></script>
  <script src="assets/root-app/root-app.component.js"></script>
  <script src="assets/plot-chart/plot-chart.component.js"></script>
  <script src="assets/shared/services/cards.service.js"></script>
  <script src="assets/shared/services/d3.factory.js"></script>
</head>

<body ng-app="d3HsApp">
  <div class="container">
    <root-app></root-app>
  </div>
</body>

</html>